*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;
    -webkit-user-select:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
    body,html,div,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dd,dt{
         padding:0;margin:0;
    }
    a{text-decoration:none;color:#666;}
    .cl:after{content:"";display:block;clear:both;height:0;visibility:hidden;overflow:hidden;}
    input:focus{outline:none;}
    input::-webkit-input-placeholder{color:red;}
    ul,ol{list-style:none;}
    img{vertical-align:top;border:0;}
    input,select,textarea{color:inherit;font-size:inherit;}